body {
    margin: 0;
    padding: 0;
    background: #000;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.board {
    width: 300px;
    height: 300px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.btn {
    border-radius: 12px;
    opacity: 0.8;
    transition: 0.25s;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.95);
}

#green { background: #00e676; }
#red { background: #ff1744; }
#yellow { background: #ffea00; }
#blue { background: #2979ff; }

.flash {
    opacity: 1 !important;
    box-shadow: 0 0 25px white;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background: purple;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: rgb(165, 95, 200);
}
